@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --yellow-base: #FFF2C5;
    --yellow: #FFC805;
    --row-padding: 10rem;
    --font-color: #1F2124
}

html {
    font-size: 62.5%; 
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--font-color);

}

h1, h2, h3, p {
    margin: 0;
}

h1 {
    font-size: 11rem;
}

h2 {
    font-size: 7rem;
    font-weight: 500;
}

h3 {
    font-size: 3.2rem;
}

p {
    font-size: 2.7rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h3.with_square {
    position: relative;
}

h3.with_square:before {
    content: '';
    width: 2.6rem;
    height: 2.6rem;
    background-color: var(--yellow);
    display: inline-block;
    position: absolute;
    top: -1.3rem;
    left: -3.3rem;
}

.container {
    width: 124rem;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: var(--row-padding);
}

.row.header {
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
}

.row.reverse {
    flex-direction: row-reverse;
}

.row.reverse  .number {
    text-align: end;
}

.row.reverse h2 {
    text-align: end;
}

header {
    display: flex;
    flex-direction: column;
    flex: 1;
}

header .number {
    font-size: 10.7rem;
    font-weight: 500;
}

.description {
    flex: 2
}
/*********************************** Navigation *********************************************/

#nav .container {
    display: flex;
    justify-content: space-between;
    height: 20rem;
    align-items: center;
}

.logo_wrapper {
    display: flex;
    flex-direction: column;
}

.logo_wrapper img {
    width: 7rem;
}

.navigation {
    display: flex;
    font-size: 2.2rem;
    gap: 2rem;

}

/*********************************** Banner *********************************************/
#banner {
    position: relative;
}
.banner_content::before {
    content: '';
    width: 60rem;
    height: 60rem;
    background-color: var(--yellow);
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    top: -20rem;
    margin: 0 auto;
    z-index: 1;
}

#banner::after {
    content: '';
    width: 60rem;
    height: 100%;
    background-color: var(--yellow-base);
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
}

.banner_wrapper {
    background-color: var(--yellow-base);
    position: relative;
    left: 10rem;
}

.banner_content {
    position: relative;
    left: -10rem;
    z-index: 1;
    text-align: center;
}

.banner_content h1 {
    position: absolute;
    bottom: 20rem;
    width: 30rem;
    z-index: 3;
    font-size: 8rem;
    text-align: start;
    font-weight: 500;
    opacity: .85;
}

.banner_content p {
    position: absolute;
    right: 0;
    top: 10rem;
    width: 26rem;
    text-align: start;
}

.banner_content img {
    position: relative;
    z-index: 2;
    width: 60rem;
    margin-bottom: 20rem;
}

.links {
    width: auto;
    height: 20rem;
    background-color: white;
    display: inline-block;
    position: absolute;
    right: 0;
    left: 74rem;
    bottom: 0;
    z-index: 2;
    display: flex;
    gap: 4rem;
    align-items: center;
    padding-left: 20rem;
}



/*********************************** About me *********************************************/

/*********************************** Projects *********************************************/

#projects {
    background-color: var(--yellow-base);
}

.project_wrapper {
    display: flex;
    gap: 3rem;
    width: 100%;
    border: solid;
}

.project_wrapper.reverse {
    flex-direction: row-reverse;
}

.project_wrapper.reverse .projects {
    text-align: start;
}

.project_header {
    flex: 1;
    padding: 4rem 0 0 4rem;
}

.projects {
    flex: 2;
    text-align: end;
}
.project_header h3{
    margin-bottom: 3rem;
}

.number.one {
    opacity: .3;
}

.number.two {
    opacity: .6;
}

/*********************************** Hobby *********************************************/

#hobby {
    background-color: var(--yellow-base);
}

.row.hobby {
    margin: var(--row-padding) 0;
    padding: 0;
    gap: 5rem;
    justify-content: space-between;
}

.row.hobby:nth-child(2n) {
    margin-top: 20rem;
}

.hobby_header {
    padding: 10rem;
}

.paint_wrapper {
    display: flex;
    gap: 1.5rem;
}


/*********************************** Contact *********************************************/

#contact {
    background-color: var(--yellow-base);
}

#contact .row {
    flex-direction: column;
}

.contacts {
    display: flex;
    padding: 50px;
}